#fx-line-count-column .scroll-pane {
	-fx-hbar-policy: NEVER;
	-fx-vbar-policy: NEVER;
}
#fx-line-count-column {
	/* Forbid text selection */
	-fx-highlight-fill: null;
	-fx-highlight-text-fill: null;
}
.text-area *.text {
	-fx-text-alignment: right;
}
